<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title><link rel="stylesheet" href="./front/build/static/css/main.5027bfb7.chunk.css">
</head>
<body>
    <div id="root"></div>
    <script src="./front/build/static/js/runtime-main.development.js"></script>
    <script src="./front/build/static/js/2.development.chunk.js"></script>
    <script src="./front/build/static/js/main.development.chunk.js"></script>
</body>
</html>